
{{ partial "head.html" . }}<body><div class="wrap"><div class="section" id="content"><h1>{{ .Title }}</h1><p>{{ .Content }}</p>{{ range .Data.Pages }}<li>


<a href="{{.Permalink}}">{{.Title}}</a></li>{{ end }}</div>{{ if .Site.Params.mainMenu }}<div class="section bottom-menu"><hr/><p>{{ range first 1 .Site.Params.mainMenu }}<a href="{{ .link }}">{{ .text }}</a>{{ end }}
{{ range after 1 .Site.Params.mainMenu }}
&#183; <a href="{{ .link }}">{{ .text }}</a>{{ end }}
&#183; <a href="{{.Site.BaseURL}}">{{ .Site.Params.homepage }}</a></p></div>{{ end }}<div class="section footer">{{ partial "footer.html" . }}</div></div></body>




<!-- --------------
with post date 
{{ partial "head.html" . }}<body><div class="wrap"><div class="section" id="content"><h1>{{ .Title }}</h1><p>{{ .Content }}</p>{{ range .Data.Pages }}<li>
<a href="{{.Permalink}}">{{.Title}}</a> &#183; &#183; &#183; &#183; &#183; &#183; &#183; &#183; &#183; &#183; &#183; &#183; &#183; &#183;
{{ if .Params.showDate }}
{{ .Date.Format (.Site.Params.dateformArchive | default "Jan 02, 2006")}} {{ end }}</li>{{ end }}</div>{{ if .Site.Params.mainMenu }}<div class="section bottom-menu"><hr/><p>{{ range first 1 .Site.Params.mainMenu }}<a href="{{ .link }}">{{ .text }}</a>{{ end }}
{{ range after 1 .Site.Params.mainMenu }}
&#183; <a href="{{ .link }}">{{ .text }}</a>{{ end }}
&#183; <a href="{{.Site.BaseURL}}">{{ .Site.Params.homepage }}</a></p></div>{{ end }}<div class="section footer">{{ partial "footer.html" . }}</div></div></body>

If showdate
{{ if .Params.showDate }}
{{ .Date.Format (.Site.Params.dateform | default "Mon Jan 02, 2006")}} --
{{ end }}
-------------- -->